numpy
scipy
pandas
matplotlib
altair
metaflow
tqdm
filelock
typer
sh
tomotopy
sentence-transformers
umap-learn
hdbscan
altair
textacy
spacy
gensim
pandas-profiling
altair-saver
selenium
webdriver-manager
google-play-scraper
